# ── Python ──────────────────────────────────────────────
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

# ── Envs ────────────────────────────────────────────────
.venv/
.env/
*.env


# ── Jupyter ─────────────────────────────────────────────
.ipynb_checkpoints/

# ── VS Code ─────────────────────────────────────────────
.vscode/

# ── OS cruft ────────────────────────────────────────────
.DS_Store
Thumbs.db

.benchmarks
.pytest_cache
.ruff_cache
